<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create Application</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.min.css')}}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{{url_for('index')}}">CSR</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Create Endpoints</h2>
                    <p>What endpoints would you like to have in the application?</p>
                </div>
                <form class="form-end" action="{{url_for('create')}}" method="POST", enctype="multipart/form-data">
                    <div class="mb-3"><label class="form-label" for="name">Endpoint Name</label><input class="form-control" type="text" placeholder="Enter Name of endpoint" id="name" name="name"></div>
                    <div class="mb-3"><label class="form-label" for="type">Endpoint Type</label><select class="form-control" placeholder="Enter Type of endpoint" id="type" name="type"></div>
                    <div class="mb-3"><label class="form-label" for="type">Endpoint Title</label><select class="form-control" placeholder="Enter Type of endpoint" id="type" name="type"></div>
                    <div class="mb-3"><button type="button" class="add-field">+</button></div>   
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2021 CSR</p>
        </div>
    </footer>
    <script>
        $(document).ready(function(){
            $( ".add-field" ).click(function(){
                var $clone = $( "form-end" ).first().clone();
                $clone.append( "<button type='button' class='remove-field'>-</button>" );
                $clone.insertBefore( ".add-field" );
            });
            
            $( ".form-style-9" ).on("click", ".remove-field", function(){
                $(this).parent().remove();
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{url_for('static', filename='js/script.min.js')}}"></script>
</body>

</html>